<!-- <p>pre-onboarding works!</p> -->
<body class="hold-transition login-page">
<div class="login-box  text-center"  >
    <div class="login-logo">
      <a href="javascript://"><img src="../../../assets/dist/img/logo.png" />Cylsys <span class="small">HRMS</span></a>
    </div>
    <!-- /.login-logo -->
    <div class="card pt-3 pb-5 rounded-lg">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Welcome aboard</p>
        <!-- <form> -->
         
          <h3>{{this.data.a}} {{this.data.b}}</h3>
          
          <!--<h4>Candidate <strong>ID 12345678</strong></h4>
          <h4>neeta@cylsys.com</h4><br>--><br>
          <button href="" class="btn btn-primary btn-block" (click)="newChange2()">Let's Get Start</button>
        </div>
      </div>
       
      </div>
  
    </body>