
<!-- <input type="checkbox" value="adsfsdgdsfgsdfgdshg"(change)="fieldsChange($event)"> click here -->


<div *ngIf="open_Modal==true" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-hidden="true">
     <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> --> -->
      
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Please fill the attachment and notes form then the employee form will be submitted
          </div>
          <div class="modal-footer">
            
            <button  type="button" class="btn btn-primary" data-bs-dismiss="modal" >OK</button>
          </div>
        </div>
      </div>
    </div> 
<!-- </div> -->
<button type="submit" (submit)="generateTicket()">click</button>
