
<div><app-header></app-header></div>
      
<!-- end header code here............... -->
<!-- start leftpanel code here............... -->
<div ><app-left-panel></app-left-panel></div>
<!-- end leftpanel code here............... -->
<div class="content-wrapper" style="height: auto;">

    <div class="content-header">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Department View</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row pt-1">
                                <div class="col-md-2">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Department View
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="slider">
                                            <button class="border-0 w-100" onclick="openNav()">
                                                Create Views
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 text-right">
                                    <a href="department-details" class="btn btn-primary"
                                    [routerLink]="['/department-details/']">+ Add Department Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <form method="get" [formGroup]="DepartmentDetails">
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="" type="checkbox">
                                            </th>
                                            <th>Department Name</th>
                                            <th>Mail Alias</th>                                       
                                            <th>Department Lead</th>
                                            <th>Parent Department</th>
                                            <th>Added By </th>
                                            <th>Added Time</th>
                                            <th>Modified By </th>
                                            <th>Modified Time </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pp of nik">
                                            <td> <input class="" type="checkbox"></td>
                                            <td><a [routerLink]="['/edit-department/'+ pp.departmentId]">{{pp.departmentName}}</a></td>
                                            <td>{{pp.MailAlias}}</td>
                                            <!-- <td>{{pp.status}}</td> -->
                                            <td>{{pp.DepartmentLead}}</td>
                                            <td>{{pp.ParentDepartment}}</td>
                                            <td>{{pp.added_by}}</td>
                                            <td>{{pp.added_time | date :'medium'}}</td>
                                            <td>{{pp.modified_by}}</td>
                                            <td>{{pp.modified_time | date :'medium'}}</td>
                                           



                                            
                          <td>
                            <span class="pull-right">
                            
                              <a [routerLink]="['/edit-department/'+ pp.departmentId]"
                              title="Edit" style="color: rgb(7, 136, 241)"
                                ><i
                                  class="fa fa-edit"
                                 
                                ></i
                              ></a>
  &nbsp; 
                              <a title="Delete" style="color: rgb(7, 136, 241) "
                                ><i
                                  class="fa fa-trash"
                                  (click)="deleteDepart(pp.departmentId)"
                                ></i></a
                            ></span>
  
  
                          </td>
  
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>





<!-- start footer code here............... -->
<div><app-footer></app-footer></div>
<!-- end footer code here............... -->