<div class="wrapper">
    <!-- <div class="preloader flex-column justify-content-center align-items-center"> <img class="animation__shake"
          src="dist/img/logo.png" alt="Logo" height="60" width="60"> </div> -->
    
          <div><app-header></app-header></div>
      
          <!-- end header code here............... -->
          <!-- start leftpanel code here............... -->
          <div ><app-left-panel></app-left-panel></div>
    
    <div class="content-wrapper"style="height: auto;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0">Add Exit Details</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <form method="post" [formGroup]="AddExitDetails" (ngSubmit)="submitData()">
                    <div class="active tab-pane" id="info">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title"><strong>Separation </strong></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"> <i
                                            class="fas fa-minus"></i> </button>
                                </div>
                            </div>


                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Employee ID</label>
                                        <input type="text" formControlName="Employee_id" class="form-control" id="">
                                        <div *ngIf="f.Employee_id.touched && f.Employee_id.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Employee_id.errors.required">Employee ID is required.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Separation Date </label>
                                        <input class="form-control" formControlName="Separation_Date" type="date"
                                            id="calendar" name="calendar"
                                            [ngClass]="{ 'is-invalid': submitted && f.Separation_Date.errors }">
                                        <div *ngIf="submitted && f.Separation_Date.errors" class="invalid-feedback">
                                            <div *ngIf="f.Separation_Date.errors.required">Separation_Date is required
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="">Interviewer</label>
                                        <select class="form-select" formControlName="Interviewer"
                                            [ngClass]="{ 'is-invalid': submitted && f.Interviewer.errors }"
                                            id="inputInterviewer4">
                                            <option value="">Select </option>
                                            <option value="Sayali Ashish Anande 1 "> Sayali Ashish Anande 1 </option>
                                            <option value="Allan Francis S1"> Allan Francis S1 </option>
                                            <option value="Aleo Kirb S2"> Aleo Kirb S2 </option>
                                            <option value=" Austin Mayer S3"> Austin Mayer S3 </option>
                                            <option value="Charles Mavric S4"> Charles Mavric S4 </option>
                                            <option value="Dave Duken S5"> Dave Duken S5</option>
                                            <option value="George Dwell S6"> George Dwell S6 </option>
                                            <option value="Jennifer Jackson S7"> Jennifer Jackson S7 </option>
                                            <option value="Morgan Finely S8"> Morgan Finely S8</option>
                                            <option value="Ruby Richards S9 "> Ruby Richards S9 </option>
                                            <option value=" Tia Burmen S10"> Tia Burmen S10 </option>
                                        </select>
                                        <div *ngIf="submitted && f.Interviewer.errors" class="invalid-feedback">
                                            <div *ngIf="f.Interviewer.errors.required">Interviewer is required</div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-md-6">
                                        <label>Interviewer </label>

                                        <select class=" form-control" formControlName="Interviewer"
                                            [ngClass]="{ 'is-invalid': submitted && f.Interviewer.errors }"
                                            id="inputleave_type4">
                                            <option value="">Select </option>
                                            <option value=""> Sayali Ashish Anande 1 </option>
                                            <option value=""> Allan Francis S1 </option>
                                            <option value=""> Aleo Kirb S2 </option>
                                            <option value=""> Austin Mayer S3 </option>
                                            <option value=""> Charles Mavric S4 </option>
                                            <option value=""> Dave Duken S5</option>
                                            <option value=""> George Dwell S6 </option>
                                            <option value=""> Jennifer Jackson S7 </option>
                                            <option value=""> Morgan Finely S8</option>
                                            <option value=""> Ruby Richards S9 </option>
                                            <option value=""> Tia Burmen S10 </option>
                                        </select>
                                        <div *ngIf="submitted && f.Interviewer.errors" class="invalid-feedback">
                                            <div *ngIf="f.Interviewer.errors.required">Interviewer is required</div>
                                        </div>
                                    </div> -->

                                    <div class="form-group col-md-6">
                                        <label for="">Reason For Leaving </label>
                                        <select class="form-select" formControlName="Reason_for_Leaving"
                                            [ngClass]="{ 'is-invalid': submitted && f.Reason_for_Leaving.errors }"
                                            id="inputReason_for_Leaving4">

                                            <option value="">Select </option>
                                            <option value="Better Employment Conditions"> Better Employment Conditions
                                            </option>
                                            <option value="Career Prospect"> Career Prospect </option>
                                            <option value="Death"> Death </option>
                                            <option value="Dessertion"> Dessertion </option>
                                            <option value="Dismissed"> Dismissed </option>
                                            <option value="Dissatisfaction with the job"> Dissatisfaction with the job
                                            </option>
                                            <option value="Emigrating"> Emigrating </option>
                                            <option value="Health"> Health </option>
                                            <option value=" Higher Pay"> Higher Pay</option>
                                            <option value="Personality Conflicts"> Personality Conflicts </option>
                                            <option value="Retirement"> Retirement </option>
                                            <option value="Retrenchment"> Retrenchment </option>
                                        </select>
                                        <div *ngIf="submitted && f.Reason_for_Leaving.errors" class="invalid-feedback">
                                            <div *ngIf="f.Reason_for_Leaving.errors.required">Reason_for_Leaving is
                                                required</div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-md-6">
                                        <label> Reason For Leaving </label>
                                        <select class="form-control" formControlName="Reason_for_Leaving"
                                            [ngClass]="{ 'is-invalid': submitted && f.Reason_for_Leaving.errors }"
                                            id="inputleave_type4">
                                            <option value="">Select </option>
                                            <option value="Better Employment Conditions"> Better Employment Conditions </option>
                                            <option value=""> Career Prospect </option>
                                            <option value=""> Death </option>
                                            <option value=""> Dessertion </option>
                                            <option value=""> Dismissed </option>
                                            <option value=""> Dissatisfaction with the job</option>
                                            <option value=""> Emigrating </option>
                                            <option value=""> Health </option>
                                            <option value=""> Higher Pay</option>
                                            <option value=""> Personality Conflicts </option>
                                            <option value=""> Retirement </option>
                                            <option value=""> Retrenchment </option>
                                        </select>
                                        <div *ngIf="submitted && f.Reason_for_Leaving.errors" class="invalid-feedback">
                                            <div *ngIf="f.Reason_for_Leaving.errors.required">Reason_for_Leaving is
                                                required</div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>



                            <div class="card-header">
                                <h3 class="card-title"> <strong>Questionairre</strong></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"> <i
                                            class="fas fa-minus"></i> </button>
                                </div>
                            </div><br>

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label> Working for thisorganization again</label>
                                        <select class="form-select" id="Org"
                                            formControlName="Working_for_this_organization">
                                            <option value="">Select </option>
                                            <option value="Yes"> Yes </option>
                                            <option value="No"> No </option>
                                        </select>
                                        <div *ngIf="f.Working_for_this_organization.touched && f.Working_for_this_organization.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Working_for_this_organization.errors.required">Employee ID is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label> What did you like the most of the organization </label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="What_did_you_like_the_most_of_the_organization">
                                        <div *ngIf="f.What_did_you_like_the_most_of_the_organization.touched && f.What_did_you_like_the_most_of_the_organization.invalid"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="f.What_did_you_like_the_most_of_the_organization.errors.required">
                                                What_did_you_like_the_most_of_the_organization is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Think the organization do to improve staff welfare </label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="Think_the_organization_do_to_improve_staff_welfare">
                                        <div *ngIf="f.Think_the_organization_do_to_improve_staff_welfare.touched && f.Think_the_organization_do_to_improve_staff_welfare.invalid"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="f.Think_the_organization_do_to_improve_staff_welfare.errors.required">
                                                Think_the_organization_do_to_improve_staff_welfare is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label> Anything you wish to share with us </label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="Anything_you_wish_to_share_with_us">
                                        <div *ngIf="f.Anything_you_wish_to_share_with_us.touched && f.Anything_you_wish_to_share_with_us.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Anything_you_wish_to_share_with_us.errors.required">
                                                Anything_you_wish_to_share_with_us is required.</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card-header">
                                    <h3 class="card-title"> <strong>Checklist for Exit Interview</strong></h3>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Company Vehicle handed in </label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="Company_Vechile_handed_in">
                                        <div *ngIf="f.Company_Vechile_handed_in.touched && f.Company_Vechile_handed_in.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Company_Vechile_handed_in.errors.required">
                                                Company_Vechile_handed_in is required.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label> All equipments handed in </label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="All_equipments_handed_in">
                                        <div *ngIf="f.All_equipments_handed_in.touched && f.All_equipments_handed_in.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.All_equipments_handed_in.errors.required">
                                                All_equipments_handed_in is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>All library books submitted</label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="All_library_books_submitted">
                                        <div *ngIf="f.All_library_books_submitted.touched && f.All_library_books_submitted.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.All_library_books_submitted.errors.required">
                                                All_library_books_submitted is required.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Security</label>
                                        <input class="form-control" type="text" id="text" formControlName="Security">
                                        <div *ngIf="f.Security.touched && f.Security.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Security.errors.required">
                                                Security is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Exit interview conducted</label>
                                        <input class="form-control" type="text" id="text"
                                            formControlName="Exit_Interview_conducted">
                                        <div *ngIf="f.Exit_Interview_conducted.touched && f.Exit_Interview_conducted.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Exit_Interview_conducted.errors.required">
                                                Exit_Interview_conducted is required.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Notice period followed</label>
                                        <input class=" form-control" type="text" id="text"
                                            formControlName="Notice_period_followed">
                                        <div *ngIf="f.Notice_period_followed.touched && f.Notice_period_followed.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Notice_period_followed.errors.required">
                                                Notice_period_followed is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Resignation letter submitted</label>
                                        <input class=" form-control" type="text" id="text"
                                            formControlName="Resignation_letter_submitted">
                                        <div *ngIf="f.Resignation_letter_submitted.touched && f.Resignation_letter_submitted.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Resignation_letter_submitted.errors.required">
                                                Resignation_letter_submitted is required.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Manager/Supervisor clearance</label>
                                        <input class="form-control" id="text" formControlName="Supervisor_clearance">
                                        <div *ngIf="f.Supervisor_clearance.touched && f.Supervisor_clearance.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Supervisor_clearance.errors.required">
                                                Supervisor_clearance is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="card-body">
                                <div class="row">
                                    <button class="btn btn-primary mb-1"
                                        onclick="location.href='Department.html';">Submit</button>
                                    <button class="btn border ml-2 mb-1" onclick="stepper.next()" required>Submit and
                                        New</button>
                                    <button class="btn border ml-2 mb-1" onclick="stepper.next()">Save Draft</button>
                                    <button class="btn border ml-2 mb-1" onclick="stepper.next()">Cancel</button>
                                </div>
                            </div> -->
                                <div class="card-body">

                                    <button type="submit" class="btn btn-primary mb-1">Submit</button>

                                    <button type="submit" class="btn border bg-light ml-2 mb-1">Submit and New</button>

                                    <!-- <button ng-click="save(myForm)" ng-disabled="myForm.$pristine">
                                        {{buttonText}}
                                    </button> -->

                                    <button type="reset" class="btn border bg-light ml-2 mb-1">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div><app-footer></app-footer></div>
</div>