<aside class="main-sidebar sidebar-dark-primary bg-white elevation-4">
    <a  href="#" [routerLink]="['/dashboard']" class="brand-link">
      <img src="assets/dist/img/logo.png" alt="Cylsys" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light text-dark">Cylsys HRMS</span>
    </a>
    <div class="sidebar">
      <nav class="mt-5">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a type="button" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p> Self Service <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link"routerLink="/my-info"
                routerLinkActive="active" style="cursor: pointer;">
                  <i class="far fa-circle nav-icon"></i>
                  <p>My Info</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="calendar.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Calendar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="leave-tracker.html" class="nav-link" routerLink="/leave-tracker">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Leave Tracker</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="leave-application.html" class="nav-link" routerLink="/leave-application">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Leave Application</p>
                </a>
              </li>

            
          
            
              <li class="nav-item">
                <a href="" class="nav-link"routerLink="/configure-pay-period"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Configure Pay Period</p>
                </a>
            </li>
            </ul>
            
          </li>
         
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt" ></i>
              <p>Leave Tracker <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Views</p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="list-view.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>List Views</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="company-holiday.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Calender</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="leave-application.html" class="nav-link" routerLink="/leave-application">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Leave Application</p>
                    </a>
                  </li>
                </ul>
              </li>
            
              <li class="nav-item">
                <a href="holiday.html" class="nav-link" routerLink="/holiday">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Holidays</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Settings</p>
                </a>
                <ul class="nav nav-treeview">
                   
                  <li class="nav-item">
                    <a href="leave-type.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Leave Type</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="customized-policy.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Customize Policy</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="customize-balance.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Customize Balance</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="general-setting.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>General Settings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="compensatory-request-scheduler.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Compensatory Request Scheduler</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="calender-setting.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Calendar Settings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pay-period-setting.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Pay Period Settings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="exceptional-working-day.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Exceptional Working Day</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="module-administrators.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Module Administrators</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link"routerLink="/add-leave"
                    routerLinkActive="active" style="cursor: pointer;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Leave</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"routerLink="/add-holiday"
                    routerLinkActive="active" style="cursor: pointer;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Holiday</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"routerLink="/add-schedule"
                    routerLinkActive="active" style="cursor: pointer;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Schedule</p>
                    </a>
                </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-city"></i>
              <p>Organization <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="employee.html" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Employee</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link"routerLink="/employee-registration"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Employee Registration</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"routerLink="/invite-user"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Invite User</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link"routerLink="/department-details"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Department Details</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"routerLink="/designation-details"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Designation Details</p>
                </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"routerLink="/add-schedule"
              routerLinkActive="active" style="cursor: pointer;">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Schedule</p>
              </a>
          </li>
            <li class="nav-item">
                <a  style="cursor: pointer;" class="nav-link" routerLink="/exit-details"
                routerLinkActive="active"style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Exit Details</p>
                </a>
            </li>
              
              <li class="nav-item">
                <a href="/HRMS-HR/organization-tree.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Organization Tree</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="birthday-folks.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Birthday Folks</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/announsment.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Announcement</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link"routerLink="/new-hire"
                routerLinkActive="active" style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>New Hires</p>
                </a>
            </li>
             
              <li class="nav-item">
                <a href="favorites.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Favorites</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="groups.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="tasks.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tasks</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Settings</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-calendar-times"></i>
              <p>Time Tracker <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a  routerLink="/timesheet"
                    routerLinkActive="active" class="nav-link " style="cursor: pointer;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Timesheet</p>
                    </a>
                
                </li>
          <!-- </li> -->
        </ul>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-project-diagram"></i>
            <p>Projects <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
                <a  routerLink="/projects"
                routerLinkActive="active" class="nav-link " style="cursor: pointer;">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Project</p>
                </a>
            </li>
          </ul>






          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-project-diagram"></i>
              <p>Timesheet<i class="right fas fa-angle-left"></i>
              </p>
            </a>
           
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a  routerLink="/timesheet" 
                  routerLinkActive="active" class="nav-link " style="cursor: pointer;">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Add Timesheet</p>
                  </a>
              </li>
            </ul>
     
     
     </ul>
        </nav>
      
    </div>
  </aside>