

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- <div class="preloader flex-column justify-content-center align-items-center"> <img class="animation__shake"
        src="../../../assets/dist/img/logo.png" alt="Logo" height="60" width="60"> </div> -->


        <div><app-header></app-header></div>
      
        <!-- end header code here............... -->
        <!-- start leftpanel code here............... -->
        <div ><app-left-panel></app-left-panel></div>
        <!-- end leftpanel code here............... -->


    
    <div class="content-wrapper"style="height: auto; background-color:#F2EDF3" >
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1 class="m-0">Invite User</h1>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Create user login detail</h3>
            </div>
            <p class="pl-2"> Fill in the mandatory fields, and click invite. User gets email invitation sent to the email id mentioned. Once the invitation is accepted, the user becomes part of the organization.</p>
            <div class="card-body">
              <form method="post" [formGroup]="registerForm" (ngSubmit)="inviteProcess()">
              <div class="form-group row">
                <label for="" class="col-md-2 pl-5">First Name <span class="" style="color:red;">*</span>
                </label>
                <div class="col-md-6">
                <input type="text" class="form-control col-md-8"  id="floatingInput"placeholder="First Name"formControlName="FirstName"[ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" id="inputFirstName4">
                <div   *ngIf="submitted && f.FirstName.errors" class="invalid-feedback col-md-6">
                  <div *ngIf="f.FirstName.errors.required"  >First Name is required</div>
               </div></div>
              </div>
              <div class="form-group row">
                <label for="" class="col-md-2 pl-5">Last Name <span class="" style="color:red;">*</span>
                </label>
                <div class="col-md-6">
                <input type="text" class="form-control col-md-8"   id="floatingInput" placeholder="last Name"formControlName="LastName"[ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" id="inputLastName4">
                <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback col-md-6">
                  <div *ngIf="f.LastName.errors.required">Last Name is required</div>
               </div>
              </div></div>
              <div class="form-group row">
                <label for="" class="col-md-2 pl-5">Email <span class="" style="color:red;">*</span>
                </label>
                <div class="col-md-6">
                <input type="email" class="form-control col-md-8"  id="floatingInput" placeholder="Email"  formControlName="Email"  [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"  id="inputEmail4">
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback col-md-6">
                  <div *ngIf="f.Email.errors.required">Email is required</div>
                  <!-- <div *ngIf="f.Email.errors.email">Email must be a valid email address</div> -->
                  <div *ngIf="f.Email.errors.pattern">Email must be a valid email address</div>

                </div></div>
             
              </div>
              <div class="form-group row">
                <label for="" class="col-md-2 pl-5">Password <span class="" style="color:red;">*</span>
                </label>
                <div class="col-md-6">
                <input type="password" class="form-control col-md-8"  id="floatingPassword" placeholder="Password"formControlName="Password"[ngClass]="{ 'is-invalid': submitted && f.Password.errors }" id="inputPassword4">
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback col-md-6">
                  <div *ngIf="f.Password.errors.required">Password is required</div>
               </div>
              </div></div>
              <!-- <button style="background-color: rgb(84, 84, 224)" >invite user</button> -->
              <div class="row">
                <div class="form-group col-md-2 pl-5 ">
                  <!-- <a href="invitation-done.html" class="btn btn-primary btn-block">Submit</a> -->
                  <button type="submit"  class="btn btn-primary btn-block">Submit</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
   
    </section>
     
  </div> 
  <div><app-footer></app-footer></div>
 </div>
  
</body>
