<div class="wrapper">
    <!-- <div class="preloader flex-column justify-content-center align-items-center"> <img class="animation__shake"
        src="dist/img/logo.png" alt="Logo" height="60" width="60"> </div> -->


    <div><app-header></app-header></div>

    <!-- end header code here............... -->
    <!-- start leftpanel code here............... -->
    <div><app-left-panel></app-left-panel></div>

    <div class="content-wrapper" style="height: auto;">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0">Leave</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <form method="post" [formGroup]="Applyleave" (ngSubmit)="submitData()">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Apply Leave</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="">Employee ID </label>
                                    <input type="text" formControlName="employee_id" class="form-control" id="">
                                    <div *ngIf="f.employee_id.touched && f.employee_id.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="f.employee_id.errors.required">Employee ID is required.</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Leave Type </label>
                                    <select class="form-select" formControlName="leave_type"
                                        [ngClass]="{ 'is-invalid': submitted && f.leave_type.errors }"
                                        id="inputleave_type4">
                                        <option value="">Select here</option>
                                        <option value="Casual Leave">Casual Leave</option>
                                        <option value="Earned Leave">Earned Leave</option>
                                        <option value="Leave Without Pay">Leave Without Pay</option>
                                        <option value="Maternity Leave">Maternity Leave</option>
                                        <option value="Paternity Leave">Paternity Leave</option>
                                        <option value="Sabbatical Leave">Sabbatical Leave</option>
                                        <option value="Sick Leave">Sick Leave</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div *ngIf="submitted && f.leave_type.errors" class="invalid-feedback">
                                        <div *ngIf="f.leave_type.errors.required">Leave Type is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Date From</label>
                                    <input type="date" formControlName="date_from" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_from.errors }"
                                        id="inputdate_from" placeholder="date">
                                    <div *ngIf="submitted && f.date_from.errors" class="invalid-feedback">
                                        <div *ngIf="f.date_from.errors.required">Date From is required</div>

                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Date To</label>
                                    <input type="date" formControlName="date_to" class="form-control" id=""
                                        placeholder="date">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Reporting Manager</label>
                                    <select class="form-select" formControlName="reporting_manager"
                                        [ngClass]="{ 'is-invalid': submitted && f.reporting_manager.errors }"
                                        id="inputreporting_manager4">
                                        <option value="">Select here</option>
                                        <option value="Pawas Goyal">Pawas Goyal</option>
                                        <option value="Jagarti Thakur">Jagarti Thakur</option>
                                    </select>
                                    <div *ngIf="submitted && f.reporting_manager.errors" class="invalid-feedback">
                                        <div *ngIf="f.reporting_manager.errors.required">Reporting Manager is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" class="form-control" id="floatingInput"
                                        placeholder="Email ID" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="inputemail4" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Additional Email ID</label>
                                    <input type="AdditionalEmailID" class="form-control" class="form-control"
                                        id="floatingInput" placeholder="Additional Email ID"
                                        formControlName="additional_email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        id="inputadditional_email4" />

                                    <div *ngIf="submitted && f.additional_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.additional_email.errors.required">Additional Email ID is required
                                        </div>
                                        <div *ngIf="f.additional_email.errors.pattern">Additional Email ID must be a
                                            valid
                                            email address</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Reason for leave</label>
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="reason_for_leave"
                                        [ngClass]="{ 'is-invalid': submitted && f.reason_for_leave.errors }"
                                        id="inputCity4" placeholder="Reason for leave" />
                                    <div *ngIf="submitted && f.reason_for_leave.errors" class="invalid-feedback">
                                        <div *ngIf="f.reason_for_leave.errors.required">Reason for leave is required
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <!-- <div class="form-group col-md-3"> -->
                                    <button type="submit" class="btn btn-primary mb-1">Submit</button>
                                    <!-- self-leave-tracker.html -->
                                    <!-- </div> -->
                                    <!-- <div class="form-group col-md-3"> -->
                                    <button type="reset" class="btn border bg-light ml-2 mb-1">Cancel</button>
                                    <!-- <a href="" class="btn btn-primary btn-block">Cancle</a> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>
</div>