.topnavhrms{background: linear-gradient(90deg, rgba(34,18,120,1) 0%, 
    rgba(29,83,179,1) 35%, rgba(75,173,195,1) 100%);
    box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.75); }