


    <div><app-header></app-header></div>
      
    <!-- end header code here............... -->
    <!-- start leftpanel code here............... -->
    <div ><app-left-panel></app-left-panel></div>
    <!-- end leftpanel code here............... -->
    <div class="content-wrapper" style="height: auto;">
    <div class="content-header">

        <div class="container-fluid">

            <div class="row mb-2">

                <div class="col-sm-12">

                    <h1 class="m-0">Department Details</h1>

                </div>

            </div>

        </div>

    </div>

    <!-- /.card-header -->

    <div class="card-body">

        <form method="post" [formGroup]="DepartmentDetails" (ngSubmit)="submitData()">

            <div class="active tab-pane" id="info">

                <div class="card card-default">

                    <div class="card-header">

                        <div class="form-group row ">

                            <label class="col-md-2 ">Department Name<span class="text-danger">*</span></label>

                            <input type="text" class="form-control col-md-4" id="text" placeholder="Enter Department Name" formControlName="departmentName">

                            <div *ngIf="submitted && f.departmentName.errors" class="invalid-feedback">

                                <div *ngIf="f.departmentName.errors.required">Department Name is required</div>

                            </div>

                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2 ">Mail Alias <span class="text-danger">*</span></label>

                            <input type="text" class="form-control col-md-4" placeholder="Enter Mail Alias" id="fn" formControlName="MailAlias">

                            <div *ngIf="submitted && f.MailAlias.errors" class="invalid-feedback">

                                <div *ngIf="f.MailAlias.errors.required">Mail Alias is required</div>

                            </div>

                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2 ">Department Lead <span class="text-danger">*</span></label>

                            <select class=" col-md-4 form-control" id="Department Lead" formControlName="DepartmentLead">

                                <option value="" disabled>Select Department Lead</option>

                                <option value="Sayali Ashish Anande 1 "> Sayali Ashish Anande 1 </option>

                                <option value="Allan Francis S1">Allan Francis S1 </option>

                                <option value="Aleo Kirb S2">Aleo Kirb S2 </option>

                                <option value="Austin Mayer S3 ">Austin Mayer S3 </option>

                                <option value="Charles Mavric S4">Charles Mavric S4</option>

                                <option value="Dave Duken S5">Dave Duken S5</option>

                                <option value="George Dwell S6">George Dwell S6</option>

                                <option value="Jennifer Jackson S7">Jennifer Jackson S7</option>

                                <option value="Morgan Finely S8">Morgan Finely S8 </option>

                                <option value="Ruby Richerds S9">Ruby Richerds S9</option>

                                <option value="Tia Burmen S10">Tia Burmen S10</option>

                            </select>

                            <div *ngIf="submitted && f.DepartmentLead.errors" class="invalid-feedback">

                                <div *ngIf="f.DepartmentLead.errors.required">Department Lead is required</div>

                            </div>

                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2"> Parent Department </label>

                            <select class=" col-md-4 form-control" id="Parent Department" formControlName="ParentDepartment">

                                <option value="">Select Parent Department</option>

                                <option value="HR">HR </option>

                                <option value="Product">Product</option>

                                <option value="Sales">Sales </option>

                                <option value="Servies">Servies </option>

                                <option value="Information Technology">Information Technology</option>

                                <option value="Marketing">Marketing</option>

                            </select>

                            <div *ngIf="submitted && f.ParentDepartment.errors" class="invalid-feedback">

                                <div *ngIf="f.ParentDepartment.errors.required">Parent Department is required</div>

                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary mb-1">Submit</button>
                     
                        
                         <!-- <button  type="submit" class="btn btn-primary ml-2 mb-1" [routerLink]="['/department-details']" (click)="exit()">Submit and New</button> -->
                        <button type="submit" class="btn btn-primary ml-2 mb-1" [routerLink]="['/department/']">Cancel</button>
                            

                    </div>

                </div>

            </div>

            

        </form>

    </div>
</div>

<!-- start footer code here............... -->
<div><app-footer></app-footer></div>
<!-- end footer code here............... -->
