<!-- <body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    -->
          <!-- <div><app-header></app-header></div> -->
      
      
       
          <!-- <div ><app-left-panel></app-left-panel></div> -->
   
    <!-- <div class="content-wrapper" style="height: auto;"> -->
      <!-- <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1 class="m-0">Add Holiday</h1>
            </div>
          </div>
        </div>
      </div> -->
      <form method="post"  [formGroup]="Addholiday" (ngSubmit)="done(Addholiday.value)">
      <div class="container-fluid">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Add Holiday</h3>
          </div>
          <div class="card-body">

            <div class="form-group row ">
              <label for="" class="col-md-2 pl-3">Name of Holiday<span class="text-danger">*</span></label>
              <input type="text" class="form-control col-md-6 " id="" placeholder="Enter name of holiday" formControlName ="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">

              <div *ngIf="f.Name.touched && f.Name.invalid" class="invalid-feedback">
                <div *ngIf="f.Name.errors.required">Name is required.</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-md-2 pl-3">Date <span class="text-danger">*</span></label>
              
         
              <input type="Date" class="form-control col-md-4" id="" placeholder="Date" formControlName="Date"   [ngClass]="{ 'is-invalid': submitted && f.Date.errors }">
              &nbsp; &nbsp; &nbsp;
              <div *ngIf="submitted && f.Date.errors" class="invalid-feedback">
                <div *ngIf="f.Date.errors.required">Date is required</div>
             </div>

              <!-- <label for="" class="col-md-2 pt-2 "><input type="checkbox"  formControlName="Restricted" [ngClass]="{ 'is-invalid': submitted && f.Restricted.errors }" >&nbsp;
                Restricted</label>
                <div *ngIf="submitted && f.Restricted.errors" class="invalid-feedback">
                  <div *ngIf="f.Restricted.errors.required">Restricted is required</div>
               </div> -->
            </div>

            <div class="form-group row">
              <label for=""
                >Applicable For<span class="text-danger"
                  >*</span
                ></label>
            
              
               <div class="col-md-3 pl-3">
                <div class="dropdown">
                  <ng-multiselect-dropdown
                    formControlName="ApplicableFor"
                    [ngClass]="{
                      'is-invalid':
                        submitted && f.ApplicableFor.errors
                    }"
                    [placeholder]="'Select here'"
                    [settings]="userSettings1"
                    [data]="departmentList"
                    [(ngModel)]="selectedItems1"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
                  <div
                    *ngIf="
                      f.ApplicableFor.touched && f.ApplicableFor.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.ApplicableFor.errors.required">
                      Applicable For is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
<br>

            <div class="form-group row">
              <label for="" class="col-md-2 pl-3">Description<span class="text-danger">*</span></label>
              <textarea class="form-control col-md-6" id="" placeholder="Enter Description"
                formControlName="Description" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }"></textarea>

                <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                  <div *ngIf="f.Description.errors.required">Description is required</div>
              </div>
            </div>
            <!--================-->
            <div class="form-group row ">
              <label for="" class="col-md-2 pl-3">HolidayType<span class="text-danger">*</span></label>
              <input type="text" class="form-control col-md-6 " id="" placeholder="Enter holidayType" formControlName ="HolidayType" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">

              <div *ngIf="f.HolidayType.touched && f.HolidayType.invalid" class="invalid-feedback">
                <div *ngIf="f.HolidayType.errors.required">HolidayType is required.</div>
              </div>
            </div>
            <!--======================-->
            <div class="form-group row">
              <label for="" class="col-md-2 pl-3">No of day<span class="text-danger">*</span></label>
                <!-- (s) before which the reminder should be sent -->
              <select class="form-control col-md-2"
                formControlName="No_ofday_before_which_the_reminder_should_be_sent">
                <option value="">Select here</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>

                <div *ngIf="submitted && f.No_ofday_before_which_the_reminder_should_be_sent" class="invalid-feedback">
                  <div *ngIf="f.No_ofday_before_which_the_reminder_should_be_sent.required">This feild is required</div>
              </div>


              </select>
            </div>
            <!-- <div class="form-group row">
              <label for="" class="col-md-2"></label>
              <label for="" class="col-md-6 small">
                <input type="checkbox" formControlName="Notify_Applicable_Employees">
                <strong>Notify Applicable Employees</strong></label>

            </div>
            <div class="form-group row">
              <label for="" class="col-md-2"></label>
              <label for="" class="col-md-6 small">
                <input type="checkbox"
                  formControlName="Reprocess_leave_applications_based_on_this_added_holiday"> <strong>Reprocess leave
                  applications based on this added holiday</strong><br>
                (Leaves that are already applied for this holiday will be reprocessed and the balance will be adjusted
                accordingly)
              </label>
            </div>
      <div class="form-group row bg-light">
              <label for="" class="col-md-2"></label>
              <label><strong>Note : </strong> Shift based Holidays will override the location based Holidays.<br> 

          </label>
            </div>  -->

            <div class="form-group col-md-6">
            
              <button type="submit" class="btn btn-primary">Submit</button>
              &nbsp;
              <button class="btn btn-primary" type="reset">Cancel</button>
            </div>
          </div>
        </div>


      </div>
    </form>

    <!-- </div> -->

   
    <!-- <div><app-footer></app-footer></div> -->
  <!-- </div>
  </body> -->