
<div><app-header></app-header></div>
      
<!-- end header code here............... -->
<!-- start leftpanel code here............... -->
<div ><app-left-panel></app-left-panel></div>
<!-- end leftpanel code here............... -->

<div class="content-wrapper" style="height: auto;">
    <div class="content-header">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Leave Tracker</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row pt-1">
                                <!-- <div class="col-md-2">
                                    <select class="custom-select" id="inlineFormCustomSelect"
                                        onchange="location = this.options[this.selectedIndex].value;">
                                        <option selected="">Action</option>
                                        <option value="">Casual Leave</option>
                                        <option value="">Earned Leave</option>
                                        <option value="">Leave Without Pay</option>
                                        <option value="">Maternity Leave</option>
                                        <option value="">Sabbatical Leave</option>
                                        <option value="">Sick Leave</option>
                                        <option value="">Other</option>
                                    </select>
                                </div> -->



                                <!-- <div class="col-md-2">
                                    <select class="custom-select" id="inlineFormCustomSelect"
                                        onchange="location = this.options[this.selectedIndex].value;">
                                        <option selected="">Mail Status</option>
                                        <option value="">Leave Without Pay</option>
                                        <option value="">Follow up1</option>
                                        <option value="">Follow up2</option>
                                        <option value="">Follow up3</option>
                                        <option value="">Duplicate</option>
                                        <option value="">Stop Mailing</option>
                                    </select>
                                </div> -->
                                <!-- <div class="multiselect form-group col-md-2">
                                    <div class="selectBox form-control" onclick="showCheckboxes()">
                                        <select class="custom-select border-bottom">
                                            <option>Column View</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="checkboxes" class="checkstyle">
                                        <label for="one0">
                                            <input type="checkbox" id="one0" /> Select All Options </label>
                                        <label for="two0">
                                            <input type="checkbox" id="two0" /> Employee ID </label>
                                        <label for="two0">
                                            <input type="checkbox" id="two0" /> EmailID </label>
                                        <label for="three0">
                                            <input type="checkbox" id="three0" /> Mobile No. </label>
                                        <label for="five0">
                                            <input type="checkbox" id="five0" /> Designation </label>
                                        <label for="six0">
                                            <input type="checkbox" id="six0" /> Location </label>
                                        <label for="seven0">
                                            <input type="checkbox" id="seven0" /> Lead Vertical </label>
                                        <label for="seven0">
                                            <input type="checkbox" id="seven0" /> Requirement </label>
                                    </div>
                                </div> -->
                                <div class="col-md-12 text-right">
                                    <a href="apply-leave" class="btn btn-primary">+ Apply Leave</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Employee ID</th>
                                        <!-- <th>Employee Name</th> -->
                                        <th>Date From</th>
                                        <th>Date To</th>
                                        <th>Leave Type</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let all_leaveEach of all_leave; let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{all_leaveEach.employee_id}}</td>
                                        <!-- <td>{{all_leaveEach.employee_name}}</td>                                        -->
                                        <td>{{all_leaveEach.date_from | date}}</td> 
                                        <td>{{all_leaveEach.date_to | date}}</td>
                                        <td>{{all_leaveEach.leave_type}}</td>
                                        <td>{{all_leaveEach.reason_for_leave}}</td>
                                       
                                    </tr>
                                    <!-- <tr>
                                        <td>
                                            <input class="" type="checkbox" />
                                            <a href="candidate.html">22345678</a>
                                        </td>
                                        <td>Neeta Sharma</td>
                                        <td>25, Aug Mon</td>
                                        <td>Casual Leave <span class="small">Day</span>
                                        </td>
                                        <td>Personal</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="" type="checkbox" />
                                            <a href="candidate.html">22345678</a>
                                        </td>
                                        <td>Sanjay</td>
                                        <td>28, Aug Mon</td>
                                        <td>Earned Leave <span class="small">Day</span>
                                        </td>
                                        <td>Personal</td>
                                    </tr> -->
                                </tbody>
                              
                            </table>
                        </div>
                       
                    </div>
                   
                </div>
               
            </div>
        </div>
    </div>
</div>




<!-- start footer code here............... -->
<div><app-footer></app-footer></div>
<!-- end footer code here............... -->